<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body data-ng-app="testApp">
<div class="MainContainer">
    <!--------------------------Header-------------------------------->
    <div class="Header">
        <section>
            <div class="Left">
                <div class="logo"> Sample MongoDB Data Php</div>
            </div>
            <div class="Right">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About us</a></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
        </section>
    </div>
    <!----------------------------------Form------------------------------->
    <section >
        <div  data-ng-controller="customersControllerMongo">
        <input type="text" data-ng-model="search" placeholder="Search" class="search">
           <span>Total Items are - {{names.length}}</span>
            <table>
                <tr>
                    <th>Sl No</th>
                    <th>Emp id</th>
                    <th>DATE</th>
                    <th>Bill No</th>
                    <th>Item Name</th>
                    <!--<th>pid</th>-->
                    <!--<th>Category</th>-->
                    <!--<th>Sale b</th>-->
                    <!--<th>Sale l</th>-->
                    <!--<th>Amount</th>-->
                </tr>
                <tr data-ng-repeat="x in names | filter:search | orderBy:name">
                    <td>{{ x._id }}</td>
                    <td>{{ x.category }}</td>
                    <td>{{ x.subcategory }}</td>
                    <td>{{ x.price }}</td>
                    <td>{{ x.brand }}</td>
                    <!--<td>{{ x.pid }}</td>-->
                    <!--<td>{{ x.cat }}</td>-->
                    <!--<td>{{ x.saleb }}</td>-->
                    <!--<td>{{ x.salel }}</td>-->
                    <!--<td>{{ x.amount }}</td>-->
                </tr>
            </table>

        </div>
        <div class="container">
            <div class="Head">
                Employee Registration Form
            </div>
            <div class="FormContent">
                <form name="emp" action="" onsubmit="return validate_form();" method="post">
                    <ul>
                        <li>
                            <div class="text">Employee Name<span style="color:red">*</span></div>
                            <input type="text" value="" name="num" placeholder="Employee Name" onkeypress="return isNumberKey(event)">
                            <div class="overText">
                                <div class="text">
                                    Employee Name please
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="text">Employee Number<span style="color:red">*</span></div>
                            <input type="text" value="" placeholder="Employee Number" name="num" onkeypress="return isNumberKey(event)">
                            <div class="overText">
                                <div class="text">
                                    Employee Number please
                                </div>
                            </div>
                        </li>
                        <li><div class="text">Address</div>
                            <textarea rows="4" maxlen="200" name="S2" placeholder="Address" ></textarea>
                            <div class="overText">
                                <div class="text">
                                    Address please
                                </div>
                            </div>
                        </li>
                        <li><div class="text">Contact Number</div>
                            <input type="text" value="" placeholder="Contact Number" onkeypress="return isNumberKey(event)" name="txtFName1">
                            <div class="overText">
                                <div class="text">
                                    Contact Number please
                                </div>
                            </div>
                        </li>
                        <li><div class="text">Job Location</div>
                            <select name="mydropdown">
                                <option value="Default">Default</option>
                                <option value="Chennai">Chennai</option>
                                <option value="Bangalore">Bangalore</option>
                                <option value="Chennai">Pune</option>
                                <option value="Bangalore">Mysore</option>
                                <option value="Chennai">Chandigarh</option>
                            </select>
                        </li>
                        <li><div class="text">Designation</div>
                            <select name="mydropdown">
                                <option value="Default">Default</option>
                                <option value="Systems Engineer">Systems Engineer</option>
                                <option value="Senior Systems Engineer">Senior Systems Engineer</option>
                                <option value="Technology Analyst">Technology Analyst</option>
                                <option value="Technology Lead">Technology Lead</option>
                                <option value="Project Manager">Project Manager</option>
                            </select>
                        </li>
                        <li><div class="text">Email <span style="color:red"> *</span></div>
                            <input type="text" value="" name="email_id" placeholder="Email ID">
                            <div class="overText">
                                <div class="text">
                                    Email ID please
                                </div>
                            </div>
                        </li>
                        <li>
                            <div style="width: 80%;margin: 0 auto;"><input type="submit" value=" Submit" name="B4" class="but">
                            <input type="reset" value=" Reset All " name="B5" class="but">
                            <div class="clear"></div>
                                </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </section>

</div>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>

